* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
}

a {
  color: #4e77b8;
  text-decoration: none;
}

a:hover{
  color: #6d96d7;
  text-decoration: none;
}
